<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaLumberJack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CocoaLumberjack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CocoaLumberjackTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mapper_af.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050BE0921DBDE4F800DB5673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0545F60E1DBBBC7600B8C7A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0545F6221DBBBC7700B8C7A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0545F62D1DBBBC7700B8C7A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056AAB171DBDD7CA00CC9846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>056AAB1F1DBDD7CA00CC9846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
